<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container" >
    <div class="mt-5 " >
      <h1 class="text-center bg-info p-5" style="color: rgb(247, 244, 244)!important"> Jashanpreet Kaur </h1> 
    </div>
    <div class="row mt-5" style="margin-bottom: 80px;">
      <div class="col-sm-4  ">
        <img src="http://localhost:3000/Assets/images/JashanpreetKaurPic.jpeg" height="90%" width="100%"/>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-6">
            <p style="font-family:Arial, Helvetica, sans-serif; margin-bottom: 50px; font-size: 18px;"  >
      
            My name is Jashanpreet Kaur. Basically, I am from Punjab, India. I moved to Brampton, Ontario in September, 2021. I completed my high school education in 2020 in non- medical stream. I had a graet interest in computers and want to be a software engineer. Because I always wonder that how these things work and run like how websites are made and how these can be open by anyone over the world and in order to get this education I decided to pursue my education abroad
            and I chose Canada for my further studies. After this, the most difficult decision was choosing college. However, every college is providing good education but when I went through centennial college reviews I was mesmerized that it is providing better education than others. As experienced teachers, practical labs and campus, everything was according to my need.
            </p>
            <a href="http://localhost:3000/Assets/my-resume.pdf" download="" style="color: white; font-size: 20px; font-weight: 600;" class="btn btn-success">Download my resume</a>
        </div>
    </div>
  </main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>