<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container" >
    <div class="mt-5 row" >
    </div>

    <!-- arrenging content in horizontal manner -->
    <div class="row justify-content-md-center mb-5 ">
            <div class="col-md-4 mb-5">
                <h2 class="color:secondary mb-5 mx-auto" style="width: 266px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-transform: uppercase;" > Weather forecasting system.</h2>
                <div class="mb-5">
                    <img src="https://jashankaurautheticate.herokuapp.com/Assets/images/weatherApp.jpg" alt="project1" height="220px" width="100%" >
                </div>
                <p  style="font-family: Arial, Helvetica, sans-serif;"> Weather forecasting systems use a combination of science and technology to make accurate predictions on weather conditions of a particular location at a particular time. Weather forecast systems and applications predict weather conditions based on multiple parameters, such as pressure, temperature, humidity, wind speed, etc.
                    This weather forecasting project is a web application. It has a graphical user interface where users can log in via their user ID and password.  </p>
            </div>
            <div class="col-md-4">
                <h2 class="color:secondary mb-5 mx-auto" style="width: 266px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-transform: uppercase">Fingerprint voting system.</h2>
                <div class="mb-5">
                    <img src="https://jashankaurautheticate.herokuapp.com/Assets/images/fingerprint.jpg" alt="project1" height="220px" width="100%" >
                </div>
                <p style="font-family: Arial, Helvetica, sans-serif;">In this project, you will develop a fingerprint-based voting application that can recognize users based on their fingerprint patterns. Since fingerprint authentication is unique for each person, the system can quickly identify the voters using their fingerprints. Naturally, a voter can vote for a candidate only once.
                    The Admin adds all the names and photos of the candidates nominated for the election. 
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="color:secondary mb-5 mx-auto" style="width: 266px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-transform: uppercase">Advanced employee  system</h2>
                <div class="mb-5" >
                    <img src="https://jashankaurautheticate.herokuapp.com/Assets/images/employeeManage.jpg" alt="project1" height="220px" width="100%" >
                </div>
                <p style="font-family: Arial, Helvetica, sans-serif;"> Usually, large companies and organizations have a vast army of human resources working under them. In such scenarios where there’s a significant number of human employees to manage, it becomes challenging to supervise and manage the activities of the human resources efficiently. Such companies/organizations need an advanced employee management system that can handle everything related to the company’s human resources.
                    
                </p>
            </div>
    </div>

  </main>
 

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>









