<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container" >
  <!-- row -->
    <div class=" row mt-5 mb-5"  >
      <div class="row">
          <img src="http://localhost:3000/Assets/images/services1.jpg" alt="project1"  style="
          display: block;
          margin-left: 100px;
          margin-right: auto;
          width: 55rem; height: 15rem;" >
      </div>  
      <div class="row mb-5" >
            <div class="col-sm-6 mt-5 ">
                <h1 style="margin-bottom: 50px;  width: fit-content;" >  Cloud Services</h1>
                <p > Most businesses are now realizing the potential of the cloud. For instance, cloud services allow employees to join meetings and work on projects from any location, which is especially useful if you have remote workers or operate in multiple locations. Cloud services are also extremely scalable, allowing you to pay for just the services you need, even when your needs are constantly changing. 
                </p>
            </div>
  
            <div class="col-sm-6 mt-5 ">
                <h1 style="margin-bottom: 50px; width: fit-content;">Network Management </h1>
                <p > Network services begin with the configuration of infrastructure at your location, including setting up servers, installing firewalls, and connecting printers. The provider may also implement security measures to prevent unauthorized logins and to apply two-factor authentication.
                </p>
            </div>
      </div>
    </div>
  </main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>









